<template name="groups">
	{{#if isUserPatient}}
	<h1>Medical staff</h1>
	<h4>Medical doctor</h4>
	{{/if}}

	{{#if isUserMedic}}
	<h1>Patients and medical groups</h1>

	<h4>Create group</h4>
	(todo: just show when click on a button)
	<form>
		<div class="row">
			<div class="six columns">
				<label for="exampleEmailInput">Group name</label>
				<input class="u-full-width" placeholder="Group name" id="groupName" type="text">
			</div>
		</div>
		<input class="button-primary" value="Submit" type="submit">
	</form>


	<h4>Your patients</h4>
	{{/if}}

	{{#if people}}
	<table class="ui striped table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				{{#if isUserMedic}}
				<th>Last data</th>
				{{/if}}
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each people}}
			<tr>
				<td>{{firstName}}</td>
				<td>{{lastName}}</td>
				{{#if isUserMedic}}
					<td>Last data</td>
					<!-- other fields... -->
				{{/if}}
				<td>Toto</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{else}}
		<div class="italic">
			<i class="warning circle icon"></i>
			<span>You don't have any patient.</span>
		</div>
	{{/if}}

	<div class="huge-spacing"></div>

	{{#if isUserPatient}}	
	<h4>Medical groups</h4>
	{{/if}}

	{{#if isUserMedic}}
	<div class="ui grid">
		<div class="eleven wide column">
			<h4>Your groups</h4>
		</div>
		<div class="five wide column right">
			<div class="ui labeled icon buttons">
				<button class="ui tealbis button">
					<i class="plus icon"></i>
					Add
				</button>
			</div>
		</div>
	</div>
	{{/if}}

	{{#if groups}}
	<table class="ui striped table">
		<thead>
		<tr>
			<th>Name</th>
			{{#if isUserMedic}}
			<th>Members</th>
			<th>Patients</th>
			{{/if}}
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{{#each groups}}
			<tr>
				<td>{{name}}</td>
				{{#if isUserMedic}}
				<td>{{medics.length}}</td>
				<td>{{patients.length}}</td>
				{{/if}}
				<td>
					<button class="ui red basic button small" id="deleteGroup" groupId="{{_id}}">Delete</button>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
	{{else}}
		<div class="big-spacing"></div>
		<div class="italic">
			<i class="warning circle icon"></i>
			<span>You don't have any group.</span>
		</div>
	{{/if}}

	<div class="huge-spacing"></div>

	<!-- REMARQUES
	remarques:<br>
	(accès pour plus d'info sur le patient ? accordéon ?)<br>
	(todo: remove patient with confirmation)<br>
	(todo: confimation avant suppr groupe)<br>
	(todo: harmoniser les tableaux)<br>
	(todo: espacer la fleche du bas et la croix ?)
	-->

</template>