<template name="groups">
	<h1>{{strings.header}}</h1>
	<h4>{{strings.people}}</h4>

	{{#if people}}
	<table class="ui striped table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				{{#if isUserMedic}}
				<th>Last data</th>
				{{/if}}
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each people}}
			<tr>
				<td>{{firstName}}</td>
				<td>{{lastName}}</td>
				{{#if isUserMedic}}
					<td>Last data</td>
					<!-- other fields... -->
				{{/if}}
				<td>Toto</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{else}}
		<div class="italic">
			<i class="warning circle icon"></i>
			<span>You don't have any {{strings.peopleType}}.</span>
		</div>
	{{/if}}

	<div class="huge-spacing"></div>

	<div class="ui grid">
		<div class="eleven wide column">
			<h4>{{strings.groups}}</h4>
		</div>
		<div class="five wide column right">
			{{#if isUserMedic}}
			<div class="ui labeled icon buttons">
				<button id="add" class="ui tealbis button">
					<i class="plus icon"></i>
					Add
				</button>
			</div>
			{{/if}}
		</div>
	</div>

	<div class="adding-group" style="display:none;">
		<div class="big-spacing"></div>
		<form class="ui form">
			<div class="field">
				<input type="text" name="group-name" placeholder="Group name" id="groupName">
			</div>
			<div class="ui buttons">
				<button class="ui positive button">Add</button>
				<div class="or"></div>
				<button class="ui button" id="cancel-add">Cancel</button>
			</div>
		</form>
		<div class="big-spacing"></div>
	</div>

	{{#if groups}}
	<table class="ui striped table">
		<thead>
		<tr>
			<th>Name</th>
			{{#if isUserMedic}}
			<th>Members</th>
			<th>Patients</th>
			{{/if}}
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{{#each groups}}
			<tr>
				<td>{{name}}</td>
				{{#if isUserMedic}}
				<td>{{medics.length}}</td>
				<td>{{patients.length}}</td>
				{{/if}}
				<td>
					<button class="ui tiny yellow basic icon button">
						<i class="info icon"></i>
						Details
					</button>

					<button class="ui tiny red basic icon button" id="deleteGroup" groupId="{{_id}}">
						<i class="remove icon"></i>
						Delete
					</button>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
	{{else}}
		<div class="big-spacing"></div>
		<div class="italic">
			<i class="warning circle icon"></i>
			<span>You don't have any group.</span>
		</div>
	{{/if}}

	<div class="huge-spacing"></div>

	<!-- REMARQUES
	remarques:<br>
	(accès pour plus d'info sur le patient ? accordéon ?)<br>
	(todo: remove patient with confirmation)<br>
	(todo: confimation avant suppr groupe)<br>
	(todo: harmoniser les tableaux)<br>
	(todo: espacer la fleche du bas et la croix ?)
	-->

</template>