<template name="groups">
	<!-- People -->
	<!-- Row with header people and add button -->
	<div class="ui grid">
		<div class="two column row">
			<div class="left floated column">
				<h2 class="fitted item">{{strings.people}}</h2>
			</div>
			<!-- hidden add patient button -->
			{{#if isUserMedic}}
			<div class="right floated column">
				<button id="addPatient" class="ui tealbis compact labeled icon button">
					<i class="plus icon"></i>
					Add
				</button>
			</div>
			{{/if}}
		</div>
	</div>

	<!-- hidden add patient row -->
	{{#if isUserMedic}}
	<div class="adding-patient" style="display:none;">
		<div class="big-spacing"></div>
		<form id="addPatientForm" class="ui form">
			<div class="field">
				<input type="text" name="patient-first-name" placeholder="First name" id="addPatientFirstName">
			</div>
			<div class="field">
				<input type="text" name="patient-last-name" placeholder="Last name" id="addPatientLastName">
			</div>
			<div class="ui buttons">
				<button class="ui positive button" id="confirmeAddPatient" >Add</button>
				<div class="or"></div>
				<button class="ui button" id="cancelAddPatient">Cancel</button>
			</div>
		</form>
	</div>
	{{/if}}

	<!-- people table -->
	{{#if people}}
	<table class="ui striped table unstackable">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				{{#if isUserMedic}}
				<th>Last data</th>
				{{/if}}
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each people}}
			<tr>
				<td>{{firstName}}</td>
				<td>{{lastName}}</td>
				{{#if isUserMedic}}
					<td>Last data</td>
					<!-- other fields... -->
				{{/if}}
				<td>
					<a href="#{{_id}}" class="ui tiny yellow basic icon button">
						<i class="mail outline icon"></i>
						Message
					</a>
					{{#if isUserMedic}}
					<button class="ui tiny red basic icon button" id="deletePatientFromMedic">
						<i class="remove icon"></i>
						Remove
					</button>
					{{/if}}
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{else}}
		<div class="italic">
			<div class="big-spacing"></div>
			<i class="warning circle icon"></i>
			<span>You don't have any {{strings.peopleType}}.</span>
		</div>
	{{/if}}

	<div class="huge-spacing"></div>

	<!-- Groups -->
	<!-- Row with header groups and add button -->
	<div class="ui grid">
		<div class="two column row">
			<div class="left floated column">
				<h2 class="fitted item">{{strings.groups}}</h2>
			</div>
			<!-- hidden add group button -->
			{{#if isUserMedic}}
			<div class="right floated column">
				<button id="addGroup" class="ui tealbis compact labeled icon button">
					<i class="plus icon"></i>
					Add
				</button>
			</div>
			{{/if}}
		</div>
	</div>

	<!-- hidden add group row -->
	{{#if isUserMedic}}
	<div class="adding-group" style="display:none;">
		<div class="big-spacing"></div>
		<form id="addGroupForm" class="ui form">
			<div class="field">
				<input type="text" name="group-name" placeholder="Group name" id="groupName">
			</div>
			<div class="ui buttons">
				<button class="ui positive button" id="confirmAddGroup">Add</button>
				<div class="or"></div>
				<button class="ui button" id="cancelAddGroup">Cancel</button>
			</div>
		</form>
	</div>
	{{/if}}

	<!-- groups table -->
	{{#if groups}}
	<table class="ui striped table unstackable">
		<thead>
		<tr>
			<th>Name</th>
			{{#if isUserMedic}}
			<th>Members</th>
			<th>Patients</th>
			{{/if}}
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{{#each groups}}
			<tr>
				<td>{{name}}</td>
				{{#if isUserMedic}}
				<td>{{medics.length}}</td>
				<td>{{patients.length}}</td>
				{{/if}}
				<td>
					<a href="groups/{{_id}}" id="showGroupDetails" class="ui tiny yellow basic icon button">
						<i class="info icon"></i>
						Details
					</a>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
	{{else}}
		<div class="big-spacing"></div>
		<div class="italic">
			<i class="warning circle icon"></i>
			<span>You don't have any group.</span>
		</div>
	{{/if}}

	<div class="huge-spacing"></div>

	{{> groupDetails group}}

</template>

<template name="groupDetails">
	<div id="groupDetailsModal" class="ui long modal">
		<i class="close icon"></i>

		<div class="header">
			{{name}}
		</div>

		<div class="content">

			<!-- Patients only for medics -->
			{{#if isUserMedic}}
			<!-- Patients header row and add form -->
			<h2>Patients</h2>
			{{#if admin}}
			<div class="ui form">
				<div class="three fields">
					<div class="field">
						<input id="addPatientFirstName2group" type="text" placeholder="First Name">
					</div>
					<div class="field">
						<input id="addPatientLastName2group" type="text" placeholder="Last Name">
					</div>
					<div class="field">
						<div class="ui labeled icon buttons">
							<button id="addPatient2group" class="ui tealbis button">
								<i class="plus icon"></i>
								Add
							</button>
						</div>
					</div>
				</div>
			</div>
			{{/if}}

			<div class="big-spacing"></div>

			<!-- Patients table in groups -->
			{{#if patients}}
			<table class="ui striped table unstackable">
				<thead>
					<tr>
						<th>First name</th>
						<th>last name</th>
						<th>Gender</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{{#each patients}}
					<tr>
						<td>{{firstName}}</td>
						<td>{{lastName}}</td>
						<td>{{gender}}</td>
						<td>
							<a href="#{{_id}}" class="ui tiny yellow basic icon button">
								<i class="mail outline icon"></i>
								Message
							</a>
							{{#if ../admin}}
							<button class="ui tiny red basic icon button" id="deletePatientFromGroup">
								<i class="remove icon"></i>
								Remove
							</button>
							{{/if}}
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{else}}
				<div class="ui info message">
					<i class="warning circle icon"></i>
					There is no patient.
				</div>
			{{/if}}
			<div class="big-spacing"></div>
			{{/if}}

			<!-- Groups members -->
			<!-- Groups header row and add form -->
			<h2>Medical staff</h2>
			{{#if admin}}
			<div class="ui form">
				<div class="three fields">
					<div class="field">
						<input id="addMedicFirstName2group" placeholder="First name" name="newMedicFirstName" type="text">
					</div>
					<div class="field">
						<input id="addMedicLastName2group" placeholder="Last name" name="newMedicLastName" type="text">
					</div>
					<div class="field">
						<div class="ui labeled icon buttons">
							<button id="addMedic2group" class="ui tealbis button">
								<i class="plus icon"></i>
								Add
							</button>
						</div>
					</div>
				</div>
			</div>
			{{/if}}

			<div class="big-spacing"></div>

			<!-- Groups members table -->
			<table class="ui striped table unstackable">
				<thead>
					<tr>
						<th>Title</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{{#each medics}}
					<tr>
						<td>{{title}}</td>
						<td>{{firstName}}</td>
						<td>{{lastName}}</td>
						<td>
							<a href="#{{_id}}" class="ui tiny yellow basic icon button">
								<i class="mail outline icon"></i>
								Message
							</a>
							{{#if ../admin}}
							<button class="ui tiny red basic icon button" id="deleteMedicFromGroup">
								<i class="remove icon"></i>
								Remove
							</button>
							{{/if}}
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>

			<!-- admin panel -->
			{{#if admin}}
			<div class="big-spacing"></div>
			<h2>Administration</h2>

			<div class="ui form">
				<div class="three fields">
					<div class="field">
						<input id="newGroupName" value="{{name}}" name="newName" type="text">
					</div>
					<div class="field">
						<button id="changeGroupName" class="ui button">Change name</button>
					</div>
					<div class="field">
						<button id="deleteGroup1" class="ui button red">Delete the group</button>
						<button id="deleteGroup2" class="ui button red" style="display: none;">Click again to delete</button>
					</div>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
</template>