<template name="login">
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h1 class="ui header aligned center">e-Health</h1>
			<form class="ui form">
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input type="email" placeholder="E-mail" name="email">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input type="password" placeholder="Password" name="password">
						</div>
					</div>
					<div class="ui blue fluid large submit button login">Login</div>
					<div class="ui right aligned grid">
						<div class="left floated left aligned six wide column">
							<div class="ui">Forgotten password?</div>
						</div>
						<div class="right floated right aligned six wide column">
							<div class="ui">
								<a href="/register" alt="Register">Register</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>