<template name="login">
	<form class="center">
		<label>Email</label>
		<div class="ui fluid input">
			<input class="" type="email" placeholder="Enter your email address" id="email">
		</div>
		<div class="small-spacing"></div>
		<label>Password</label>
		<div class="ui fluid input">
			<input class="" type="password" placeholder="Enter your password" id="password">
		</div>
		<input class="ui button" type="submit" value="LOGIN">
	</form>
	<div class="center links">
		<a href="/register#1" alt="">Register</a>
		<a href="/" class="passwordRecovery" alt="">I lost my password</a>
	</div>
	{{#if fingerprint}}
	<div class="center">
		<div class="ui horizontal divider">or</div>
		<h4>Login with your fingerprint</h4>
		<a id="fingerprint" href=""><img style="width: 4rem;" src="/fingerprint.png"></a>
	</div>
	{{/if}}
</template>