<template name="passwordRecovery">
	<form>
		<span>New password</span>
		<input class="u-full-width" type="password" placeholder="Enter your password" id="password1">
		<span>Confirm new password</span>
		<input class="u-full-width" type="password" placeholder="Enter your new password again" id="password2">
		<input class="button-primary" type="submit" value="Change password">
	</form>
	<div class="center links">
		<a href="/login" alt="">Login</a>
		<a href="/register" alt="">Register</a>
	</div>
</template>