<template name="register">
	<form>
		<label>Email</label>
		<input class="u-full-width" type="email" placeholder="Enter an email address" id="email">
		<label>Password</label>
		<input class="u-full-width" type="password" placeholder="Enter a password" id="password1">
		<label>Confirm password</label>
		<input class="u-full-width" type="password" placeholder="Enter your password again" id="password2">
		<input class="button-primary" type="submit" value="Register">
	</form>
	<div class="center links">
		<a href="/login" alt="">Login</a>
	</div>
</template>