<template name="layout">
	{{#if currentUser}}
	<div class="ui inverted labeled icon left inline vertical sidebar menu">
		<a class="item {{whoIsActive.home}}" alt="Home" href="/home">
			<i class="home icon"></i>
			Home
		</a>

		<a class="item {{whoIsActive.data}}" href="/data" alt="Data">
			<i class="area chart icon"></i>
			Data
		</a>

		{{#if isUserMedic}}
		<a class="item {{whoIsActive.groups}}" href="/groups" alt="Groups and patients">
			<i class="users icon"></i>
			Patients
		</a>
		{{/if}}

		{{#if isUserPatient}}
		<a class="item {{whoIsActive.groups}}" href="/groups" alt="Medical follow">
			<i class="doctor icon"></i>
			Medical follow
		</a>
		{{/if}}

		<a class="item {{whoIsActive.messages}}" href="/messages" alt="Messages">
			<i class="mail icon"></i>
			<span>Messages ({{nbMessages}})</span>
		</a>

		<a class="item {{whoIsActive.settings}}" href="/settings" alt="Settings">
			<i class="cogs icon"></i>
			Settings
		</a>

		<a class="item logout" href="/login" alt="Logout">
			<i class="sign out icon"></i>
			Logout
		</a>

		<!-- Connect icons -->
		<!-- QUAND CE SERA BON, A N'AFFICHER QUE EN VERSION MOBILE CORDOVA -->
		<div id="connection" class="item">
			<a href="#" id="bt">
				<i>
					<img class="{{color.bluetooth}}" style="width: 1.65rem;" src="/bluetooth_white.svg">
				</i>
				<div class="ui {{btTry2connect}} loader"></div>
			</a>
			<br><br>
			<i id="wifiIcon" class="wifi icon {{color.wifi}}"></i>
		</div>
		
		<!-- DEV -->
		<a style="bottom: 0px; position: absolute; left: 8%;" class="item {{whoIsActive.dev}}" href="/dev" alt="Dev">
			<i class="codepen icon"></i>
			Developer
		</a>
	</div>

	<div class="pusher">
		<div class="ui top inverted fixed show menu">
			<div class="ui container">
				<a class="item show-menu">
					<i class="sidebar icon"></i>
					Menu
				</a>
				<div class="right menu">
					<a class="item" alt="Messages" href="/messages">
						Messages
						<a class="ui red circular label">{{nbMessages}}</a>
					</a>
				</div>
			</div>
		</div>
		<div class="mainContent">
		{{> yield}}
		</div>
	</div>

	{{else}}
	{{> yield}}
	{{/if}}
	{{> sendMessageModal receiver}}
</template>