<template name="settings">
	<h1>Settings</h1>

	{{#if isUserUnset}}
	<h4>Finish your profile</h4>
	<form>
		<div class="row">
			<div class="six columns">
				<label for="profileType">Profile type</label>
				<select class="u-full-width" id="profileType">
					<option value="Patient">Patient</option>
					<option value="Medic">Medical doctor</option>
				</select>
			</div>
			<div class="six columns">
				<label for="code">Optionnal code</label>
				<input class="u-full-width" placeholder="Enter your code if you have one" id="code" type="text">
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<label for="firstName">First name</label>
				<input class="u-full-width" placeholder="Enter your first name" id="firstName" type="text">
			</div>
			<div class="six columns">
				<label for="firstName">Last name</label>
				<input class="u-full-width" placeholder="Enter your last name" id="lastName" type="text">
			</div>
		</div>
		<input class="button-primary" value="Submit" type="submit">
	</form>
	{{else}}
	<div class="row">
		<div class="seven columns">
			<h4>Your profile</h4>
		</div>
		<div class="five collumns right">
			<button>Change password</button>
			<button>Edit</button>
		</div>
	</div>
	<ul>
		<li>Account type: {{ profile.type }}</li>
		<li>First name: {{ profile.firstName }}</li>
		<li>Last name: {{ profile.lastName }}</li>
		<li>
			<span>Email: {{ email.address }}</span>

			{{#if email.verified }}
				<span class="small button green">
					<i class="fa fa-check"></i>
				</span>
			{{else}}
				<span class="small button red">
					<i class="fa fa-times"></i>
					Re-send an email
				</span>
			{{/if}}
		</li>
	</ul>

	<div class="right">
		<button>Delete my account</button>
	</div>
	{{/if}}
</template>